.container_results {
    flex-direction: column;
    padding-bottom: 80px;
    ;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .container.container_results {
        width: calc(100% - 80px);
    }
}