.results__list {
    margin-top: 64px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 16px;
    min-height: 282px;
}

@media (max-width: 768px) {
    .results__list {
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    }
}