@import url(./__text/button__text.css);
@import url(./__icon/button__icon.css);
.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    padding: 12px 19px;
    margin: auto;
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
}

@media (max-width: 968px) {
    .button {
        padding: 8px 15px;
    }
}