@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/title/title.css);
@import url(../blocks/subtitle/subtitle.css);
@import url(../blocks/button/button.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/results/results.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/not-found//not-found.css);
@media (min-width: 320px) and (max-width: 768px) {
    .test {
        background-color: darkblue;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .test {
        background-color: green;
    }
}

@media (min-width: 1440px) {
    .test {
        background-color: brown;
    }
}