<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="NewsExplorer - поиск новостей в СМИ по ключевому слову">
    <meta name="author" content="Денис Ефремов">
    <title>NewsExplorer</title>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" />
    <link rel="shortcut icon" href="<%=require('../images/favicon.png')%>" type="image/x-icon">
</head>

<body>
    <div class="root">

        <header class="header">
            <div class="container container_header">
                <div class="header__item-container">
                    <div class="header__logo">NewsExplorer</div>
                </div>
                <div class="header__item-container">
                    <nav class="menu header__menu">
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a class="menu__link menu__link_active" href="/">Главная</a>

                            </li>
                            <li class="menu__item">
                                <a class="menu__link menu__link_active" href="/articles/">Сохраненные статьи</a>
                                <div class="menu__link-line menu__link-line_active"></div>
                            </li>
                        </ul>
                    </nav>
                    <button class="button header__button">
                        <span class="button__text">Авторизоваться</span>
                        <i class="button__icon"></i>
                    </button>
                </div>
            </div>
        </header>
        <footer class="footer">
            <div class="container container_footer">
                <div class="footer__copyright">&copy; 2020 Денис Ефремов, Powered by News API</div>
                <div class="footer__container-link">
                    <nav class="footer__menu">
                        <ul class="footer__menu-items">
                            <li class="footer__menu-item">
                                <a href="./" class="footer__menu-link">Главная</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="https://praktikum.yandex.ru/" class="footer__menu-link">Яндекс.Практикум</a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="footer__social-items">
                        <li class="footer__social-item">
                            <a href="https://github.com/efremoz/" class="footer__social-link" target="_blank">
                                <img src="<%=require('../images/social/github.svg')%>" alt="github" class="footer__social-icon"/></a>
                        </li>
                        <li class="footer__social-item">
                            <a href="https://www.facebook.com/" class="footer__social-link" target="_blank">
                                <img src="<%= require('../images/social/facebook.svg') %>" alt="facebook" class="footer__social-icon"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script type="module" src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>