.search__button {
    position: absolute;
    right: -1px;
    top: -1px;
    border: none;
    padding: 22px 54px;
    color: #ffffff;
    background-color: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    cursor: pointer
}

.search__button:hover {
    background-color: #347EFF;
}

.search__button:active {
    background-color: #2A65CC;
}

@media (max-width: 540px) {
    .search__button {
        margin-top: 82px;
        width: 100%;
    }
}