@import url('./__subtitle/article__subtitle.css');
@import url('./__title/article__title.css');
@import url('./__name/article__name.css');
@import url('./__count/article__count.css');
@import url('./__saved/article__saved.css');
@import url('./__text/article__text.css');
@import url('./__keywords/article__keywords.css');
.article {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background: #fff;
    color: #1A1B22;
    padding-top: 40px;
    padding-bottom: 56px;
}