.title.title_results {
    margin-top: 80px;
    font-size: 40px;
    line-height: 46px;
}

@media (max-width: 968px) {
    .title.title_results {
        margin-top: 40px;
        font-size: 30px;
        line-height: 34px;
    }
}