@import url('./__field/search__field.css');
@import url('./__button/search__button.css');
.search {
    position: relative;
    width: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
}