.menu__link-line {
    display: none;
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 48px;
    opacity: 0;
    transition: opacity .2s ease;
}

@media (max-width: 968px) {
    .menu__link-line {
        top: 40px;
    }
}