.results__button {
    border: none;
    box-sizing: border-box;
    border-radius: 80px;
    color: #1A1B22;
    background: #FFFFFF;
    padding: 18px 70px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}

.results__button:hover {
    background: #FFFFFF;
    opacity: 0.9;
}