@import url(./__item-container/header__item-container.css);
@import url(./__logo/header__logo.css);
@import url(./__button/header__button.css);
.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    height: 2px;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}