@import url(./__image/not-found__image.css);
@import url(./__text/not-found__text.css);
@import url(./__title/not-found__title.css);
@import url(./_active/not-found_active.css);
.not-found {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}